body, html {
  height: 100%; }

.navbar-expand-lg {
  display: flex;
  justify-content: space-between;
  background-color: #E63600; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

body nav img {
  height: 100px; }

body .container-fluid {
  display: flex;
  justify-content: center; }

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 50%;
  background-position: center; }

.fixed-bottom .bottomnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .fixed-bottom .bottomnav .bottom-item {
    padding: 10px 20px; }
