@import url("https://fonts.googleapis.com/css?family=Oswald");
body, html {
  height: 100%;
  background-color: #FFB00D; }

.navbar-expand-lg {
  display: flex;
  justify-content: space-between;
  background-color: #E63600; }

.nav-item {
  color: black; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

body nav img {
  height: 100px; }

body .container-fluid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif; }
  body .container-fluid .header {
    font-size: 36px;
    padding-bottom: 10px; }
  body .container-fluid .sub-header {
    font-size: 28px;
    padding-bottom: 18px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 90px; }
  .container p {
    font-size: 18px; }
  .container .emphasis {
    text-align: center;
    color: #E63600;
    font-size: 20px;
    padding-bottom: 10px; }
  .container .sub-header {
    font-size: 28px;
    padding-bottom: 2px;
    text-decoration: underline; }
  .container .describe {
    font-size: 20px; }

.hero-main {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 50%;
  background-position: center; }

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 30%;
  background-position: center; }

.map {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px; }

.bottomnav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .bottomnav .bottom-item {
    padding: 10px 20px; }
