@import url('https://fonts.googleapis.com/css?family=Oswald');

$rockeyRed: #E63600;


body, html {
  height: 100%;
  background-color: #FFB00D;
}

.navbar-expand-lg {
  display: flex;
  justify-content: space-between;
  background-color: $rockeyRed;
}

.nav-item{
  color: black;
 }

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

body {
  nav{
    img {
      height: 100px;
    }
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;

    .header{
      font-size: 36px;
      padding-bottom: 10px;
    }

    .sub-header{
      font-size: 28px;
      padding-bottom: 18px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 90px;

  p{
    font-size: 18px;
  }

  .emphasis{
    text-align: center;
    color: $rockeyRed;
    font-size: 20px;
    padding-bottom: 10px;
  }

  .sub-header{
    font-size: 28px;
    padding-bottom: 2px;
    text-decoration: underline;
    margin-top: 10px;
  }

  .sub-option{
    font-size: 24px;
    padding-bottom: 2px;
  }

  .describe {
    font-size: 20px;
  }
}

.tab{
  padding-left: 7px;
}

.click{
  margin: 10px;
}

.menu-item{
  align-items: flex-start;
  font-size: 18px;
  margin-top: 10px;
  span{
    font-size: 16px;
  }
  p{
    font-size: 14px;
    margin: 4px auto;
  }
}

  .hero-main {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
  }

  .hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 30%;
    background-position: center;
  }

  .map {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }

  .bottomnav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .bottom-item {
      padding: 10px 20px;
    }
  }

  .card-row{
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .card-text{
      margin-bottom: 2px;
    }
  }
